<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeacherAttend"
        tools:targetApi="31">
        <activity
            android:name=".submission.view_micro_porject"
            android:exported="false" />
        <activity
            android:name=".submission.micro_project_submission_activity"
            android:exported="false" />
        <activity
            android:name=".submission.view_assignment"
            android:exported="false" />
        <activity
            android:name=".submission.assignment_submission_activity"
            android:exported="false" />
        <activity
            android:name=".submission.view_workbook"
            android:exported="false" />
        <activity
            android:name=".submission.workbook_submission_activity"
            android:exported="false" />
        <activity
            android:name=".submission.lab_manual"
            android:exported="false" />
        <activity
            android:name=".submission.micro_project"
            android:exported="false" />
        <activity
            android:name=".submission.Assignment"
            android:exported="false" />
        <activity
            android:name=".submission.workbook"
            android:exported="false" />
        <activity
            android:name=".attendance_student"
            android:exported="false" />
        <activity
            android:name=".student_profile"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Department.pharmacy"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Department.e_and_tc"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Department.mechanical"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Department.civil"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Department.IT"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Department.computer"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Add_student"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".dashboard.MainDashBoard"
            android:exported="false"
            android:label="@string/title_activity_main_dash_board">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>